.card {
   
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 5px;

 
 
    > img{
        width: 180px;
        height: 220px;
        object-fit: cover;
        transition: .5s;
    } 
    &:hover{
        cursor: pointer;
        transform: translateY(-10px) scale(1.05);

    }

}